* {
    text-align: center;
    font-family: "Times New Roman", sans-serif;
}

#header {
    text-align: center;
    font-size: 48px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
      font-size: 25px;
      font-weight: bold;
  }

  .subheader {
      font-size: 36px;
  }

  .button {
      background-color: rgb(50, 165, 50);
      font-size: 36px;
  }